{% extends "main/base.html" %}
{% block title %}Update User{% endblock %}
{% block content %}
<h1>Update User</h1>
<form method="post">
	<p>
        <label for="username">Username:</label>
        <input type="text" name="username" value={{user.username}}>
    </p>
    <p>
        <label for="firstname">First Name:</label>
        <input type="text" name="firstname" value={{user.firstname}}>
    </p>
    <p>
        <label for="middlename">Middle Name:</label>
        <input type="text" name="middlename" value={{user.middlename}}>
    </p>
    <p>
        <label for="lastname">Last Name:</label>
        <input type="text" name="lastname" value={{user.lastname}}>
    </p>
    <p>
        <label for="birthdate">Birthdate:</label>
        <input type="date" name="birthdate" value={{user.birthdate}}>
    </p>
    <p>
        <label for="email">Email:</label>
        <input type="email" name="email" value={{user.email}}>
    </p>
    <p>
        <button type="submit">Update User</button>
    </p>
</form>
{% endblock %}