{% extends "main/base.html" %}

{% block title %}
    {% if user.manager %}
        User List
    {% else %}
        User Info
    {% endif %}
{% endblock %}

{% block content %}
    <style>
        /* Style for the "Blue" button */
        .blue-button {
            padding: 5px 10px;
            background-color: #007bff;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
        /* Style for the "Delete User" button */
        .delete-user-button {
            padding: 5px 10px;
            background-color: #dc3545;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
    </style>

        <div class="container">
          <h1 class="title">User List</h1>
          <table class="table table-hover">
            <thead>
              <tr>
                  <th>ID</th><th>Username</th>
                  <th>Firstname</th><th>Middlename</th><th>Lastname</th>
                  <th>Birthdate</th>
                  <th>Email</th>
                  <th>Password</th>
              </tr>
            </thead>
            <tbody>
             {% if user.manager %}
                {% for usr in users %}
                <tr>
                    <td>#{{ usr.id }}</td><td>{{ usr.username }}</td>
                    <td>{{ usr.firstname }}</td><td>{% if usr.middlename %} {{ usr.middlename }}{% endif %}</td><td>{{ usr.lastname }}</td>
                    <td>{{ usr.birthdate.strftime('%Y-%m-%d') }}</td>
                    <td>{{ usr.email }}</td>
<!--                    <td>{{ user.password }}</td>-->
                    <td>
                        <span id="password_{{ usr.id }}" class="password" style="display:none;">{{ usr.password }}</span>
                        <button  onclick="togglePassword('password_{{ usr.id }}')">Password</button>
                    </td>
                    <td>
                        <form method="POST" action="{{ url_for('main.user_delete', id=usr.id) }}">
                            <input type="submit" value="Delete User" class="delete-user-button"
                                   onclick="return confirm('Are you sure you want to delete this entry?')">
                        </form>
                    </td>
                    <td>
                        {% if usr.manager == False %}
                            <form method="GET" action="{{ url_for('main.user_update', idx=usr.id) }}">
                                <input type="submit" value="Update User" class="blue-button">
                            </form>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
             {% else %}
                <tr>
                    <td>#{{ user.id }}</td><td>{{ user.username }}</td>
                    <td>{{ user.firstname }}</td><td>{% if user.middlename %} {{ user.middlename }}{% endif %}</td><td>{{ user.lastname }}</td>
                    <td>{{ user.birthdate.strftime('%Y-%m-%d') }}</td>
                    <td>{{ user.email }}</td>
<!--                    <td>{{ user.password }}</td>-->
                    <td>
                        <span id="password_{{ user.id }}" class="password" style="display:none;">{{ user.password }}</span>
                        <button  onclick="togglePassword('password_{{ user.id }}')">Password</button>
                    </td>
                    <td>
                        <form method="POST" action="{{ url_for('main.user_delete', id=user.id) }}">
                            <input type="submit" value="Delete User" class="delete-user-button"
                                   onclick="return confirm('Are you sure you want to delete this entry?')">
                        </form>
                    </td>
                    <td>
                        {% if user.manager == False %}
                            <form method="GET" action="{{ url_for('main.user_update', idx=user.id) }}">
                                <input type="submit" value="Update User" class="blue-button">
                            </form>
                        {% endif %}
                    </td>
                </tr>
            {% endif %}
            </tbody>
          </table>
        </div>

        <script>
            function togglePassword(id) {
                var passwordElement = document.getElementById(id);
                if (passwordElement.style.display === "none") {
                    passwordElement.style.display = "inline";
                } else {
                    passwordElement.style.display = "none";
                }
            }
        </script>
{% endblock %}


